<div class="item">
    <div>Avatar URL</div>
    <div>
        <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{ teacher.avatar_url }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input
            type="text"
            name="name"
            value="{{ teacher.name }}"
        >
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input
            type="email"
            name="email"
            value="{{ teacher.email }}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input
            type="date"
            name="birth"
            value="{{ teacher.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input
                type="radio"
                name="sexo"
                value="M"
                {% if teacher.sexo == "M" %}
                    checked
                {% endif %}
            > Masculino
        </span>
        <span>
            <input
                type="radio"
                name="sexo"
                value="F"
                {% if teacher.sexo == "F" %}
                    checked
                {% endif %}
            > Feminino
        </span>
    </div>
</div>

<button type="submit">Salvar</button>