{% extends "layout.njk" %}

{% block head %}
    <title>Students</title>
{% endblock head %}

{% block content %}
    <main class="student">
        <h1>Students</h1>
    </main>
{% endblock content %}