{% extends "layout.njk" %}

{% block head %}
    <title>Teachers</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a class="button" href="/teachers/create">Novo</a>
            <form action="/teachers" method="GET">
                <input
                    type="text"
                    name="filter"
                    placeholder="Nome ou Disciplina"
                    value="{{filter}}"
                >
                <button type="submit">Filtrar</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Teacher</th>
                    <th>Disciplina</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{ teacher.name }}
                        </td>
                        <td>{{ teacher.disciplinas }}</td>
                        <td>{{ teacher.total_students }}</td>
                        <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
        ></div>

    </div>
{% endblock content %}