<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        {% block head %}
            <title>Teacher and Student</title>
        {% endblock %}
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <nav class="links">
                <a href="/teachers">Teachers</a>
                <a href="/students">Students</a>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}

        <script src="/scripts.js"></script>
    </body>
</html>